body {
  margin: 0;
  padding: 2rem;
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  color: #1a1a1a;
  cursor: url("/images/cursors/cat_cursor.gif"), auto;
}



a {
  color: #0b5fff;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Cavalhatriz";
  src: url("/fonts/cavalhatriz/Cavalhatriz.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pixel Arial";
  src: url("/fonts/pixel_arial/PIXEARG_.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pixel Arial";
  src: url("/fonts/pixel_arial/PIXEAB_.TTF") format("truetype");
  font-weight: bold;
  font-style: normal;
}

h1 {
  margin-top: 1px;
  margin-bottom: 1px;
  font-family: "Cavalhatriz", serif;
  letter-spacing: 1px;
  font-size: xx-large;
}

h2 {
  margin-top: 1px;
  margin-bottom: 1px;
  font-family: "Cavalhatriz", serif;
  letter-spacing: 1px;
  font-size: x-large;
}

h3 {
  margin-top: 1px;
  margin-bottom: 1px;
  font-family: "Cavalhatriz", serif;
  letter-spacing: 1px;
  font-size: large;

}

p {
  font-family: "Pixel Arial", sans-serif;
  font-size: 10.5px;
}

strong {
  font-family: "Pixel Arial", sans-serif;
  font-weight: bold;
  font-size: 10.5px;
}

b {
  font-family: "Pixel Arial", sans-serif;
  font-weight: bold;
  font-size: 10.5px;
}

ul {
  font-family: "Pixel Arial", sans-serif;
  font-size: 10.5px;
}

#container {
  max-width: 1100px;
  margin: 0 auto;
  color: white;
}            

#container a {
  color: #757ade;
  text-underline-offset: 2px;
  font-weight: bold;
}            

#flex {
  display: flex;
}

aside {
  width: 250px;
  padding: 20px;
  font-size: smaller;
}

main {
  background-color: #a8abde;
  flex: 1;
  padding: 20px;
  order: 2;
  border-top: 1px dashed white;
  border-bottom: 1px dashed white;
}

section {
  border: 1px dashed white;
  padding: 20px;
  border-radius: 10px;
}

#header-area {
  margin-bottom: 20px;
}

#left-sidebar {
  border-top: 1px dashed white;
  border-left: 1px dashed white;
  border-bottom: 1px dashed white;
  background-color: #cdabeb;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  order: 1;
}

#right-sidebar {
  border-top: 1px dashed white;
  border-right: 1px dashed white;
  border-bottom: 1px dashed white;
  background-color: #cdabeb;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  order: 3;
}

.subway-tile-background {
  background-image: url("/images/backgrounds/pink-static.gif");
  background-repeat: repeat;
  background-size: 100px;
}

.noise-background {
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg  xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600  600'%3E%3Cfilter id='a'%3E%3CfeTurbulence  type='fractalNoise' baseFrequency='.65'  numOctaves='3'  stitchTiles='stitch'/%3E%3CfeColorMatrix  type='matrix' values='0 0 0 0 0  0 0 0 0 0  0 0 0 0 1  0 0 0 1 0'/%3E%3C/filter%3E%3Crect  width='100%25' height='100%25' filter='url(%23a)' fill-opacity='0.6'/%3E%3C/svg%3E"); 
  background-repeat: repeat;
  background-size: 10000px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border-width: 0;
}

.no-interact {
  -webkit-user-drag: none;
  pointer-events: none;
  user-select: none;
}

@keyframes sway-rotation-1 {
  0% {
    transform: rotate(60deg);
  }

  70% {
    transform: rotate(-50deg);
  }

  100% {
    transform: rotate(60deg);
  }
}

@keyframes full-rotation {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes up-and-down {
  0% {
    transform: rotate(25deg);
  }

  70% {
    transform: rotate(45deg);
  }
  
  100% {
    transform: rotate(25deg);
  }
}

.swaying-1 {
  animation: sway-rotation-1 4s ease-out infinite;
}

.fully-rotate-slow {
  animation: full-rotation 5s linear infinite;
}

.fully-rotate-fast {
  animation: full-rotation 3s linear infinite;
}

.eye-glance {
  animation: up-and-down 1s ease-in-out infinite 2s;
}